---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <h1>Hello</h1>
    <p class="lede">
       I am a graduated student in Statistics and Data Analysis and currently a PhD student in <a href="https://phd-ai-society.di.unipi.it/"> Artificial Intelligence for Society</a> at 
      <br> University of Pisa.
    </p>
    <p>
      During my years as a student, I had the opportunity to get fascinated with the world of data and research. My research as a PhD student focuses on human-machine interaction, with a special emphasis on the explainability, trustworthiness, and ethics of AI systems.
      The focal point of my work is the Neuro-Symbolic aspect of Artificial Intelligence. As a result, I'm interested in combining Deep Learning models with logic-symbolic knowledge in my studies.
      My greatest objective is to be able to apply my findings to societal issues (AI4GOOD), especially in the fields of education (AI4EDUCATION) and health (AI4HEALTH).

    </p>
  </div>
  <div></div>
</div>

<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Work</h2>
        
    {% include resumeitem.html
      date = "2021&mdash;Now"
      role = "Doctoral researcher"
      employer = "<a href='https://phd-ai-society.di.unipi.it/'>University of Pisa</a>"
    %}

    {% include resumeitem.html
      date = "2020&mdash;2021"
      role = "Data Scientist"
      employer = "<a href='https://kellify.com/'>Kellify Spa</a>"
    %}



  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Study</h2>
    
     {% include resumeitem.html
      date = "2021&mdash;Now"
      role = "PhD in Artificial Intelligence for Society"
      employer = "<a href='https://phd-ai-society.di.unipi.it/'>UniPi</a>"
      description = "University of Pisa, Pisa, Italy"

    %}
    {% include resumeitem.html
      date = "2018&mdash;2020"
      role = "M.Sc. Data Analytics for Business and Economics"
      employer = "<a href='https://offertaformativa.unicatt.it/cdl-data-analytics-for-business-2021'>UniCatt</a>"
      description = "Catholic University of the Sacred Heart, Milan, Italy"

    %}
    {% include resumeitem.html
      date = "2015&mdash;2018"
      role = "B.Sc. Statistics: Statistical methods and models for the economy"
      employer = "<a href='https://www.unito.it/ugov/degree/35731'>UniTo</a>"
      description = "University of Turin, Turin, Italy"
    %}
  </div>
</div>
