---
title: About
layout: default
---

<div class="container -spaced -alternate2">
  <div class="recipe__title">
    <h1>Hello</h1>
    <p class="lede">
      My name is Andrea Rafanelli. I am a she/her doctoral researcher living in Italy. 
    </p>
    <p>
      During my years as a student, I had the opportunity to get fascinated with the world of data and research. As a PhD researcher, my research focuses on human-machine interaction, with a particular focus on the AI system's explainability, trustworthiness, and ethics.
     My greatest ambition is to be able to apply my research to society problems (AI4GOOD), particularly in the areas of education (AI4EDUCATION) and health (AI4HEALTH).
    </p>
  </div>
  <div></div>
</div>

<div class="container recipe">
  <div class="">
  </div>
  <div class="recipe__title">
    <h2>Work</h2>
        
    {% include resumeitem.html
      date = "2021&mdash;Now"
      role = "Doctoral researcher"
      employer = "<a href='https://phd-ai-society.di.unipi.it/'>University of Pisa</a>"
    %}

    {% include resumeitem.html
      date = "2020&mdash;2021"
      role = "Data Scientist"
      employer = "<a href='https://kellify.com/'>Kellify Spa</a>"
    %}



  </div>
</div>
<div class="container recipe">
  <div class=" ">

  </div>
  <div class="recipe__title">
    <h2>Study</h2>
    
     {% include resumeitem.html
      date = "2021&mdash;Now"
      role = "PhD in Artificial Intelligence for Society"
      employer = "<a href='https://phd-ai-society.di.unipi.it/'>UniPi</a>"
      description = "University of Pisa, Pisa, Italy"

    %}
    {% include resumeitem.html
      date = "2018&mdash;2020"
      role = "M.Sc. Data Analytics for Business and Economics"
      employer = "<a href='https://offertaformativa.unicatt.it/cdl-data-analytics-for-business-2021'>UniCatt</a>"
      description = "Catholic University of the Sacred Heart, Milan, Italy"

    %}
    {% include resumeitem.html
      date = "2015&mdash;2018"
      role = "B.Sc. Statistics: Statistical methods and models for the economy"
      employer = "<a href='https://www.unito.it/ugov/degree/35731'>UniTo</a>"
      description = "University of Turin, Turin, Italy"
    %}
  </div>
</div>
